.vagrant/
vendor/
config/development.config.php
config/modules.config.old
data/cache/*
!data/cache/.gitkeep
phpunit.xml
CONDUCT.md
CONTRIBUTING.md
TODO.md
composer.lock
.settings/com.zend.php.remoteproject.core.prefs
.settings/org.eclipse.php.core.prefs
.DS_Store
